.header {
	background-color: $primary-color;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}
button.class-overlay {
	margin-left: auto;
}
button.hide-hide {
	display: none;
}
