.header {
	background-color: $primary-color;
	height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center !important;
}
.header h2 {
	margin-right: -20px;
}
.toggle-overlay {
	margin-right: 20px;
	width: 150px;
}
.skitamix {
	height: 1px;
	width: 150px;
}