.timaskraning-container {
	display: flex;
	justify-content: center;
	background-color: white;
}
.timaskraning {
	width: 50%;
	padding: 20px 0;
}

.timaskraning-form {
	display: flex;
	justify-content: space-between;
}
.form-check {
	margin-top: 20px;
	margin-right: 10px;
}
.form-check:last-of-type {
	margin-right: 0px;
}
.form-check-maeting {
	width: 50%;
}
.form-check-leyfi, .form-check-veikindi {
	width: 25%;
}
.form-check button, .form-check-svar {
	border-radius: 50px;
	background-color: white;
	border: 1px solid $grar;
	padding: 10px;
	display: table;
	width: 100%;
	transition: all .5s ease;
	font-family: $font;
	font-size: 18px;
	font-weight: 700;
}
.form-check-svar {
	border: 1px solid black;
	// height: 40px;
	text-align: center;
	margin-top: 20px;
	// background-color: yellow;
}
.form-check button:hover {
	background-color: $secondary-color;
	transition: all .5s ease;
}

.timaskraning-yfirlit-container {
	display: flex;
	justify-content: center;
}
.timaskraning-yfirlit-faersla {
	display: flex;
	justify-content: space-between;
	border-bottom: 2px solid #c5c5c5;
	margin-bottom: 14px;
	padding-bottom: 10px;
}
.timaskraning-maett {
	color: green;
}
.margin-margin {
	margin-top: 20px !important;
}

.timaskraning tr {
	// display: flex;
	// justify-content: space-between;
	border-bottom: 2px solid #c5c5c5;
	margin-bottom: 14px;
	padding-bottom: 10px;
	width: 100%;
	text-align: left;
}
// .timaskraning td {
// 	width: 20%;
// }