.users-container {
	display: flex;
	justify-content: center;
	background-color: white;
}
.users-container label {
	display: none;
}
.users {
	// width: 50%;
	padding: 20px 0;
}
.users input {
	width: 300px;
}
.users input::placeholder {
	font-family: $font;
	font-size: 18px;
}

.user-button {
	border-radius: 50px;
	background-color: white;
	border: 1px solid $grar;
	padding: 10px;
	display: table;
	width: 100%;
	transition: all .5s ease;
	font-family: $font;
	font-size: 18px;
	font-weight: 700;
}



.user-button:hover {
	background-color: $secondary-color;
	transition: all .5s ease;
}
.login-form {
  // width: 350px;
  padding: 40px 30px;
  // background: #eee;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  // margin: auto;
  // position: absolute;
  // left: 0;
  // right: 0;
  // top: 50%;
  // -moz-transform: translateY(-50%);
  // -ms-transform: translateY(-50%);
  // -webkit-transform: translateY(-50%);
  // transform: translateY(-50%);
  width: 300px;
}

.form-group {
  // position: relative;
  margin-bottom: 15px;
}

.form-control {
  width: 100%;
  height: 50px;
  border: none;
  padding: 5px 7px 5px 15px;
  background: #fff;
  color: #666;
  border: 2px solid #ddd;
  border-radius: 50px;
}
.form-control:focus, .form-control:focus + .fa {
  border-color: #10CE88;
  color: #10CE88;
}

.form-group .fa {
  // position: absolute;
  // right: 15px;
  // top: 17px;
  // color: #999;
}

.log-status.wrong-entry {
  -moz-animation: wrong-log 0.3s;
  -webkit-animation: wrong-log 0.3s;
  animation: wrong-log 0.3s;
}

.log-status.wrong-entry .form-control, .wrong-entry .form-control + .fa {
  border-color: #ed1c24;
  color: #ed1c24;
}

.log-btn {
  background: #0AC986;
  dispaly: inline-block;
  width: 100%;
  font-size: 16px;
  height: 50px;
  color: #fff;
  text-decoration: none;
  border: none;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.link {
  text-decoration: none;
  color: #C6C6C6;
  float: right;
  font-size: 12px;
  margin-bottom: 15px;
}
.link:hover {
  text-decoration: underline;
  color: #8C918F;
}

.alert {
  display: none;
  font-size: 12px;
  color: #f00;
  float: left;
}

@-moz-keyframes wrong-log {
  0%, 100% {
    left: 0px;
  }
  20% , 60% {
    left: 15px;
  }
  40% , 80% {
    left: -15px;
  }
}
@-webkit-keyframes wrong-log {
  0%, 100% {
    left: 0px;
  }
  20% , 60% {
    left: 15px;
  }
  40% , 80% {
    left: -15px;
  }
}
@keyframes wrong-log {
  0%, 100% {
    left: 0px;
  }
  20% , 60% {
    left: 15px;
  }
  40% , 80% {
    left: -15px;
  }
}


.users-profile-picture-td {
	width: 50px;
}
.users-name-td {
	width: 150px;
}

.timaskraning-stok {
	background-color: gray;
	width: 32%;
	padding: 10px;
	border-radius: 5px;
	margin-bottom: 15px;
}
.timaskraning-maeting {
	background-color: rgba(63,184,175,1);
}
.timaskraning-veikindi {
	background-color: rgba(255, 158, 157,1);
}
.timaskraning-leyfi {
	background-color: rgba(218,216,167,1);
}
.timaskraning-nemandi-container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
a.timaskraning-admin-takki {
  // appearance: button;
  text-decoration: none;
  border-radius: 1px;
  font-size: 12px;
  font-weight: 700;
  // color: inital;
  background-color: rgba(white, 0.7);
  padding: 5px;
  transition: background-color 0.5s ease;
  text-transform: uppercase;
  color: black;
}
a.timaskraning-admin-takki:hover {
  // appearance: button;
  // color: inital;
  background-color: rgba(white, 0.1);
  padding: 5px;
  transition: background-color 0.5s ease;
}
.timaskraning-stok h4 {
  margin-bottom: 10px;
}
.timaskraning-bold {
  font-weight: 700;
}
.timaskraning-stok p {
  font-size: 14px;
}
.timaskraning-stok-takkar {
  // border-top: 1px solid rgba(white, 0.3);
  margin-top: 40px;
  margin-bottom: -5px;
}

// .users-container {
//   display: flex;
//   justify-content: space-between;
//   flex-wrap: wrap;
// }



.notendayfirlit-container {
  display: flex;
  justify-content: center;
  background-color: white;
  flex-wrap: wrap !important;
  width: 32%;

.notendayfirlit {
  width: 50%;
  padding: 20px 0;
  flex-wrap: wrap;
  display: flex;
}

.notendayfirlit-card {
  background-color: gray;
  width: 32%;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
}
.notendayfirlit-img {
  width: 50px;
  height: 50px;
}