.vidburdur-stakur-info-container {
	display: flex;
	background-color: white;
	justify-content: center;
}
.vidburdur-stakur-info {
	width: 50%;
	padding: 20px 0;
	justify-content: center;
}
.vidburdur-stakur-info img {
	max-width: 100%;
}
