.vidburdir-yfirlit-container {
	display: flex;
	justify-content: center;
}
.vidburdir-yfirlit {
	width: 50%;
	padding: 20px 0 40px 0;
}

.vidburdir-card-container {
	display:flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.vidburdir-card-container a{
	height: 100%;
	width: 48%;
}
.vidburdir-card {
	border-radius: 5px;
	border: 1px solid gray;
	width: 100%;
	margin-top: 20px;
	padding: 15px;
	height: 200px;
	position: relative;
	background-color: white;
}
.vidburdir-card:hover {
	box-shadow: 0px 0px 15px 0px rgba(6,6,6,0.18);
	border-radius: 5px;
	position: relative;
}


.vidburdir-card:after {
    content: '\A';
    color: white;
    position: absolute;
    width: 100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.6);
    opacity: 0;
    transition: all 1s;
    -webkit-transition: all 1s;
}
.vidburdir-card:before {
    width:100%;
    color:#fff;
    z-index:1;
    bottom:0;
    padding:4px 10px;
    text-align:center;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
}
.vidburdir-card:hover:after, .vidburdir-card:hover:before {
    opacity: 1;
}
.event-content {

}


.event-title {
	position: relative;

	display: inline-block;
	font-size: 1.25em;
	margin-bottom: 15px;

}
.event-date {
	position: relative;
	display: inline-block;
	margin-bottom: 15px;
}
.event-description{
	position: relative;
	display: inline-block;
}
.event-container {
	display: flex;
	justify-content: center;
	background-color: white;
	padding: 20px 0;
}
.event-container label {
	display: none;
}
.event {
	padding: 20px 0;
}
.event input {
	width: 300px;
}
.event textarea::placeholder {
	font-family: $font;
	font-size: 18px;
	padding-top: 7px;
}
.event input::placeholder {
	font-family: $font;
	font-size: 18px;
}
.event-button {
	border-radius: 50px;
	background-color: white;
	border: 1px solid $grar;
	padding: 10px;
	display: table;
	width: 100%;
	transition: all .5s ease;
	font-family: $font;
	font-size: 18px;
	font-weight: 700;
}
input:focus {
	outline:none;
}
textarea:focus {
	outline:none;
}


.event-button:hover {
	background-color: $secondary-color;
	transition: all .5s ease;
}
// .event-button {
// 	border-radius: 50px;
// 	background-color: white;
// 	border: 1px solid $grar;
// 	padding: 10px;
// 	display: table;
// 	width: 100%;
// 	transition: all .5s ease;
// 	font-family: $font;
// 	font-size: 18px;
// 	font-weight: 700;
// }
// .event-button:hover {
// 	background-color: $secondary-color;
// 	transition: all .5s ease;
// }
