@import 'partials/reset';
@import url('https://fonts.googleapis.com/css?family=Raleway:400,800');

$primary-color: #FFE400;
$secondary-color: #F3F5EF;
$grar: #979797;
$font: 'Raleway', sans-serif;

body {
	background-color: $secondary-color;
	font-family: $font;
}
p, h1 {
	font-family: $font;
}

@import 'partials/typography';

@import 'partials/header';
@import 'partials/login';
@import 'partials/timaskraning';
@import 'partials/vidburdir';
@import 'partials/vidburdurstakur';
@import 'partials/modal';
@import 'partials/users';