/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Raleway:400,800");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: #F3F5EF;
}

p, h1 {
  font-family: "Raleway", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

h2 {
  font-size: 35px;
  font-weight: 800;
}

h3 {
  font-size: 24px;
}

h4 {
  font-weight: 800;
}

.header {
  background-color: #FFE400;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

.header h2 {
  margin-right: -20px;
}

.header a {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: black;
}

.open-menu {
  margin-right: 20px;
  width: 90px;
  text-align: right;
  font-size: 18px;
}

.open-menu:hover {
  opacity: 0.6;
}

.skitamix {
  height: 1px;
  width: 90px;
}

aside {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.open {
  opacity: 1;
  visibility: visible;
}

.menu-vinstri {
  width: 70%;
  background-color: black;
  opacity: 0.7;
}

.menu-haegri {
  width: 30%;
  background: #FFE400;
}

.close {
  cursor: pointer;
}

.close span,
.close span:before,
.close span:after {
  position: absolute;
  display: block;
  content: 'CLOSE';
  text-align: right;
}

.close span {
  background: transparent;
}

aside nav ul {
  margin-top: 44px;
}

aside nav ul li {
  padding: 20px 0;
  text-align: right;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: black;
  text-transform: uppercase;
}

aside nav ul li a {
  color: black;
  text-decoration: none;
}

aside nav ul li a:hover {
  opacity: 0.7;
}

aside nav ul li a.close {
  color: black;
  text-decoration: none;
  font-size: 100%;
  font-size: 18px;
}

.ofar {
  padding: 0px;
  margin-top: -13px;
  margin-bottom: 50px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 90vh;
  background-color: #FFE400;
}

.logo img {
  padding-bottom: 30px;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

fieldset label {
  display: none;
}

form {
  overflow: hidden;
}

.login {
  background-color: #F3F5EF;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login input, .login button {
  font-family: "Raleway", sans-serif;
  border-radius: 15px;
  background: #fff;
  border: 1px solid #c6c7cc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  color: #636466;
  padding: 4px;
  text-align: center;
  font-size: 16px;
}

.timaskraning-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
}

.timaskraning {
  width: 50%;
  padding: 20px 0;
}

.vidburdir-yfirlit-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.vidburdir-yfirlit {
  width: 50%;
  padding: 20px 0;
}

.vidburdir-card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.vidburdir-card {
  border-radius: 5px;
  border: 1px solid gray;
  width: 48%;
  margin-top: 20px;
  padding: 15px;
  height: 200px;
  position: relative;
}

.vidburdur-stakur-info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.vidburdur-stakur-info {
  width: 50%;
  padding: 20px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.vidburdur-stakur-info img {
  max-width: 100%;
}
